{% extends 'base.html.twig' %}
{% block body %}
    {% if countries is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <td>DB ID</td>
                    <td>Landcode</td>
                    <td>Naam</td>
                    <td>tailcode</td>
                </tr>
            </thead>
            <tbody>
                {% for country in countries %}
                    {% for countryInfo in country %}
                        <tr>
                            <td>{{countryInfo.id}}</td>
                            <td>{{countryInfo.code}}</td>
                            <td>{{countryInfo.name}}</td>
                            <td>{{countryInfo.tailcode}}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="starter-template">
            <h1>Geen landen gevonden</h1>
            <p class="lead">Begin nu direct met landen toe te voegen</p>
            <a class="btn btn-primary">Toevoegen</a>
        </div>
    {% endif %}
{% endblock %}